  /*
         o "." simboliza o class inserido no html para ser formatado no CSS
        no CSS, cada formataçao é aplicada conforme a sua força de seletor;
        Primeiro ID (#), depois a classe (.) e por ultimo, o proprio atributo (h1), por exemplo;
        Se houver uma cascada, esta sera a de força maior.

        h1 {
            color: aqua;
        }
        .blue {
            color: blue;
        }
        #page-landing {
            color:red;
        }

         */

:root {
    /* Variaveis de CSS */
    --color-background: #F0F0F7; 
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
    /* fontes padrão: 16px - 100% - 1 rem // rem = rroot element */
    font-size: 60%; /* controle das medidas rem ou tamanho da fonte pradão*/

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {
    /* font: 500 1.6rem Poppins; */
    color: var(--color-text-base);
    font-weight: 500;
    font-family: Poppins;
    font-size: 1.6rem;
    
}

#container {
    /* border: 1px solid red; */
    /* padding: 10px 40px; */
    /* margin: 60px; */
    width: 90vw;
    max-width: 700px;
    /* height: 300px; */
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}